*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

h1{
    font-family:serif;
    margin-top: 55px;
    letter-spacing: 2px;
    text-align: center;
    
    
}

h1 a{
    text-decoration-line: none;
    color: black;
}

.Menu {
    width: 100%;

}
.Menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    
}
.Menu ul li{
    margin: 15px;
    transition: 1s;
    height: 10px;
    
}

.Menu ul li:hover{
    letter-spacing: 4px;
    font-size: 16pt;
    transition: 1s;
    cursor: pointer;
}

.Menu ul li a{
    text-decoration-line: none;
    color: black;
}

.Negrita{
    font-weight: 600;
}

.RedesSociales{
    width: 100%
}

.RedesSociales ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.RedesSociales ul li{
    margin-left:5px;
    margin-right: 5px;
    opacity: 0.5;
}

.RedesSociales ul li:hover{
    opacity: 1;
}

.WhoAmI{
    text-align: center;
    margin-top: 50px;
    font-family: serif;
    font-size: 24pt;

}

.FotoPerfil img{
    max-width: 340px;
    display: block;
    margin: auto;
    margin-top: 24px;
}

.MiniBio p{
    text-align: center;
    color: black;
    font-family: serif;
    font-size: 14pt;
    opacity: 0.75;
    margin-top: 40px;
    
}

.BackToTop a{
    text-decoration-line: none;
    color: black;
}

.BackToTop{
    margin-top: 70px;
    height: 10%;
    width: 100%;
    text-align: center;
    font-family:sans-serif;
    opacity: 0.5;
}
.Copyright{
    margin-top: 60px;
    height: 20px;
    text-align: center;
    opacity: 0.4;
    margin-bottom: 10px;
}